@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(60, 8%, 97%);
    --foreground: hsl(0, 0%, 20%);
    --primary: hsl(195, 67%, 35%);
    --primary-foreground: hsl(0, 3%, 94%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(0, 0%, 20%);
    --accent: hsl(216, 2%, 43%);
    --accent-foreground: hsl(0, 0%, 100%);
    --border: hsl(0, 0%, 80%);
    --input: hsl(210, 10%, 90%);
    --ring: hsl(207, 5%, 55%);
    --destructive: hsl(0, 100%, 50%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(0, 0%, 20%);
  }
  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);
    --primary: hsl(24 5.7% 82.9%);
    --primary-foreground: hsl(222.2 84% 4.9%);
    --card: hsl(220.9 39.3% 11%);
    --card-foreground: hsl(212.7 26.8% 83.9%);
    --accent: hsl(217, 59%, 21%);
    --accent-foreground: hsl(210 40% 98%);
    --border: hsl(213, 16%, 24%);
    --border: hsl(213, 16%, 24%);
    --input: hsl(215.4 16.3% 46.9%);
    --ring: hsl(215.4 16.3% 46.9%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);
    --popover: hsl(215.3 25% 26.7%);
    --popover-foreground: hsl(220 13% 91%);
  }
  .tech {
    --background: hsl(220, 12%, 5%); 
    --foreground: hsl(210, 20%, 85%); 
    --primary: hsl(107, 89%, 48%); 
    --primary-foreground: hsl(0, 0%, 0%); 
    --card: hsl(120, 11%, 2%);
    --card-foreground: hsl(210, 20%, 85%); 
    --accent: hsl(75, 100%, 60%);
    --accent-foreground: hsl(0, 0%, 2%);
    --border: hsl(110, 89%, 60%);
    --input: hsl(210, 15%, 28%);
    --ring: hsl(113, 93%, 35%);
    --destructive: hsl(0, 100%, 50%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --popover: hsl(220, 15%, 15%);
    --popover-foreground: hsl(210, 20%, 85%); 
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 w-full;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-start {
    @apply flex justify-end items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .h1-bold {
    @apply font-bold text-3xl lg:text-4xl;
  }

  .h2-bold {
    @apply font-bold text-2xl lg:text-3xl;
  }

  .h3-bold {
    @apply font-bold text-xl lg:text-2xl;
  }
}

@layer base {
  * {
    @apply border-border outline-ring;
  }
  body {
    @apply bg-background text-foreground;
  }
}