@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(48, 24%, 88%);
    --foreground: hsl(0, 0%, 20%);
    --primary: hsl(217, 58%, 17%);
    --primary-foreground: hsl(0, 3%, 94%);
    --secondary: hsla(209, 38%, 21%, 0.959);
    --secondary-foreground: hsl(15, 40%, 98%);
    --muted: hsl(228, 19%, 35%);
    --muted-foreground: hsl(0, 0%, 59%);
    --card: hsla(60, 11%, 88%, 0.925);
    --card-foreground: hsl(24, 85%, 11%);
    --accent: hsl(203, 38%, 36%);
    --accent-foreground: hsl(0, 0%, 100%);
    --border: hsl(206, 15%, 43%);
    --input: hsl(0, 1%, 47%);
    --ring: hsl(230, 76%, 19%);
    --destructive: hsl(0, 79%, 41%);
    --warning: hsl(53, 94%, 45%);
    --warning-foreground: hsl(0, 0%, 7%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(0, 0%, 20%);
    --sidebar-background: hsl(0, 0%, 20%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224, 44%, 46%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(60, 2%, 79%);
    --sidebar-accent-foreground: hsl(240, 74%, 15%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --success: hsl(129, 72%, 31%);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(116, 37%, 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
  }
  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);
    --primary: hsl(240, 9%, 89%);
    --primary-foreground: hsl(222.2 84% 4.9%);
    --secondary: hsl(206, 68%, 20%);
    --secondary-foreground: hsl(210 40% 98%);
    --muted: hsl(228, 14%, 28%);
    --muted-foreground: hsl(0, 0%, 59%);
    --card: hsl(220.9 39.3% 11%);
    --card-foreground: hsl(212.7 26.8% 83.9%);
    --accent: hsl(216, 3%, 28%);
    --accent-foreground: hsl(210 40% 98%);
    --border: hsl(212, 44%, 18%);
    --input: hsl(215.4 16.3% 46.9%);
    --ring: hsl(215.4 16.3% 46.9%);
    --destructive: hsl(0, 100%, 50%);
    --warning: hsl(50, 98%, 43%);
    --warning-foreground: hsl(0, 0%, 7%);
    --destructive-foreground: hsl(210 40% 98%);
    --popover: hsl(215.3 25% 26.7%);
    --popover-foreground: hsl(220 13% 91%);
    --sidebar-background: hsl(240, 20%, 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(227, 74%, 35%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(140, 4%, 16%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --success: hsl(129, 73%, 39%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
  }

  .tech {
    --background: hsl(120, 13%, 5%);
    --foreground: hsl(210, 20%, 85%);
    --primary: hsl(107, 89%, 48%);
    --primary-foreground: hsl(0, 0%, 0%);
    --secondary: hsl(73, 59%, 54%);
    --secondary-foreground: hsl(180, 3%, 6%);
    --muted: hsla(135, 16%, 25%, 0.833);
    --muted-foreground: hsl(0, 0%, 59%);
    --card: hsl(0, 0%, 0%);
    --card-foreground: hsl(210, 20%, 85%);
    --accent: hsl(75, 49%, 54%);
    --accent-foreground: hsl(0, 0%, 2%);
    --border: hsl(109, 66%, 17%);
    --input: hsl(210, 15%, 28%);
    --ring: hsl(113, 93%, 35%);
    --destructive: hsl(0, 100%, 50%);
    --warning: hsl(49, 84%, 48%);
    --warning-foreground: hsl(0, 0%, 7%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --popover: hsl(220, 15%, 15%);
    --popover-foreground: hsl(210, 20%, 85%);
    --sidebar-background: hsl(0, 0%, 0%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(123, 64%, 33%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(123, 64%, 33%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --success: hsl(129, 80%, 43%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 w-full;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-end {
    @apply flex justify-end items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .h1-bold {
    @apply font-bold text-3xl lg:text-4xl;
  }

  .h2-bold {
    @apply font-bold text-2xl lg:text-3xl;
  }

  .h3-bold {
    @apply font-bold text-xl lg:text-2xl;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--card);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border outline-ring;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
